<h1>Products <%= @product[:sku] %> </h1>
<div class='product'>
<p>
<%= @product[:sku] %>
<br>
<%= @product[:name] %>
<br>
<%= @product[:description] %>
<br>
<%= @product.formatted_price %>
</p>
</div>
